# OS
.DS_Store

# IDE
.idea
.vscode

# Docker
docker/
docker-compose.yml
compose.yml

# Silverstripe
public/
app/

# Dependencies
node_modules/
vendor/
composer.lock
yarn-error.log
yarn.lock

# Tests
.phpunit.result.cache
coverage/
